<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    
    <h3>Thank You <%= name %> for donating <%= amount %> <%= currency %> to our organization</h3>
    <h3>View the email sent to you  <a href= <%= previewmaail %>  > over here </a></h3>
    <h3>Go to <a href = "/">home page</a></h3>
</body>
</html>

